.product__btn {
  background: $orange-button;
  font-size: 20px;
  font-weight: 600;
  width: 228px;
  height: 38px;
  border-radius: 10px;
  border: solid 1px rgba(148, 148, 148, 0.5);
  font-family: $main-font;
  color: black;
  letter-spacing: 0.52px;
  box-shadow: 0 1px 2px 0 rgba(148, 148, 148, 0.5);
  transition: all 500ms ease;
  margin-bottom: 50px;
  margin-top: 30px;
}

.btn__edit,
.btn__delete {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 128px;
  height: 38px;
  border-radius: 10px;
  border: solid 1px rgba(148, 148, 148, 0.5);
  font-family: $main-font;
  font-size: 20px;
  font-weight: 500;
  color: black;
  letter-spacing: 0.52px;
  box-shadow: 0 1px 2px 0 rgba(148, 148, 148, 0.5);
  transition: all 500ms ease;
}

.btn__edit {
  background: $blue-button;
}

.btn__delete {
  background: $red-button;
}

.cat-form-btn {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 128px;
  height: 38px;
  border-radius: 10px;
  border: solid 1px rgba(148, 148, 148, 0.5);
  background: none;
  font-family: $main-font;
  font-size: 11px;
  font-weight: 500;
  color: black;
  letter-spacing: 0.52px;
  box-shadow: 0 1px 2px 0 rgba(148, 148, 148, 0.5);
  transition: all 500ms ease;
}

.cat-form-btn:hover {
  background-color: $button-hover-color;
  cursor: pointer;
}

.numberInput {
  width: 50px;
}

.cat-form-btn {
  background: $orange-button;
  font-family: $main-font;
  font-size: 20px;
  font-weight: 600;
  width: auto;
}

.submit__btn {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  width: 85px;
  height: 30px;
  border-radius: 10px;
  border: solid 1px rgba(148, 148, 148, 0.5);
  background-color: $orange-button;
  font-family: $main-font;
  font-size: 15px;
  font-weight: 600;
  color: black;
  letter-spacing: 0.52px;
  box-shadow: 0 1px 2px 0 rgba(148, 148, 148, 0.5);
  transition: all 500ms ease;
}

.rocket {
  max-width: 10px;
}
