.table {
  border-collapse: collapse;
  width: 50%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1d99ba;
  color: white;
  min-width: 90px;
}

.table__pic {
  height: 100px;
  width: 100px;
}

.sale__old {
  text-decoration: line-through;
}

.sale__new {
  color: #eb4b88;
  font-size: 1.25rem;
}
