.product__wrapper {
  display: grid;
  gap: 1em;
  padding: 2%;
  justify-self: center;
  grid-template-columns: 1fr;
  text-align: center;

  @media (min-width: $iphonePlus-size) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-size) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-size) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1800px;
  }
}

.product__wrapper--newitem {
  display: grid;
  gap: 1em;
  padding: 2%;
  justify-self: center;
  grid-template-columns: 1fr;
  text-align: center;

  @media (min-width: $iphonePlus-size) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-size) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-size) {
    gap: 4vw;
  }
}

.box,
.box__search,
.box__cat {
  display: flex;
  flex-direction: column;
  background-color: $product-background-color;
  box-shadow: 0 2px 4px 0 $shadow;
  color: $basic-text-color;
  align-content: center;
  justify-content: end;
}

.box__search {
  margin: 2vw 5vw;
  @media (min-width: $desktop-size) {
    flex-direction: row;
    margin: 3vw 10vw;
  }
}

.box__cat {
  padding: 2vw;
  margin: 1vw 4vw;
}

.box__search--form,
.box__cat--form {
  margin: 2vw 5vw;
  @media (min-width: $desktop-size) {
    margin: 3vw 10vw;
  }
}

.box__cat--form {
  padding: 1rem;
  background: $color-white;
  border-radius: 1rem;
  @media (max-width: 500px) {
    // mobil beställningsbekräftelse bakgrund
    background: $bakground-color;
  }
}

.box__cat--form--main {
  border: 2px solid $shadow;
}

.box__pic,
.box__pic--search {
  max-width: 158px;
  margin: 1em;
  align-self: center;
  min-width: 50%;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.box__pic--search {
  max-width: 200px;
}

.box__text {
  margin-bottom: 0em;
}

.box__text--search {
  margin: auto;
}

.box__text--cat {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
}

.menu__categories {
  place-self: center;
  margin: 2em;
  display: flex;
  justify-content: center;
}

.link__categories + .link__categories {
  margin-left: 1rem;
}

.table__cat {
  width: 100%;
}

.input__cat {
  width: 100%;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid $shadow;
  box-sizing: border-box;
}

.search__feedback {
  color: black;
  font-size: 15px;
  font-weight: 700;
  background-color: $bakground-color;
  text-align: center;
  border-radius: 18px;
}
