.product__wrapper {
  display: grid;
  gap: 1em;
  padding: 2%;
  justify-self: center;
  grid-template-columns: 1fr;
  text-align: center;

  @media (min-width: $iphonePlus-size) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-size) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-size) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1800px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  background-color: $product-background-color;
  box-shadow: 0 2px 4px 0 $shadow;
  color: $basic-text-color;
  align-content: center;
}

.box__pic {
  max-width: 158px;
  margin: 1em;
  align-self: center;

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.box__text {
  margin-bottom: 0em;
}

.single__product__wrapper {
  display: grid;
  gap: 2em;
  padding: 2%;
  margin: 2%;
  background-color: $product-background-color;
  box-shadow: 0 2px 4px 0 $shadow;

  @media (min-width: $desktop-size) {
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
  }
}

.single__product__pic {
  position: relative;
  height: 100%;
  width: 100%;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.single__product__text {
  place-self: center;
  margin: 2em;
}
