.order-form {
  padding: 0 50px 0 50px;
  margin-top: 30px;
  background-color: #f1f1f1;
}

.order-form-heading {
  text-align: center;
}

.order-form-container {
  display: grid;
  grid-template-columns: 1fr;
}

.order-form-submit {
  text-align: center;
  margin: 20px 0 0 0;
}

.order-form-button {
  border-radius: 60px;
  background-color: #ff9378;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 2em;
}

.order-form input {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px;
  border: solid black 1px;
}

.order-form-objects {
  justify-self: center;
  margin-top: 1em;
}
