.contact-form-thanks-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 100px 0 0 0;
}

.contact-form-thanks-button {
  border-radius: 100%;
  background-color: #ff9378;
  font-size: 30px;
  height: 50px;
  width: 50px;
  margin: 0 20px 0 0;
}
.contact-form-thanks-button:hover {
  background-color: #fe7e5f;
}
.contact-bg-color {
  background-color: rgb(255, 255, 255);
}

.contact-form-thanks-heading {
  text-align: center;
}

.contact-form-thanks-container {
  text-align: center;
  background-color: #f1f1f1;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto 0 auto;
}

.contact-form-thanks-container > p {
  margin-top: 50px;
}
