//colors - backgrounds
$bakground-color: #f1f1f1;
$product-background-color: #ffffff;
$shadow: rgba(110, 110, 110, 0.5);
$button-hover-color: rgba(119, 238, 95, 0.349);

//colors - text
$basic-text-color: #323232;
$main-head-color: black;
$second-head-color: #eb4b88;

//screen sizes
$desktop-size: 1000px;
$tablet-size: 800px;
$iphonePlus-size: 500px;

//fonts
$main-font: poppins;
$main-font-size: 30px;
$second-font-size: 20px;
$text-font-size: 15px;

$color-main: rgb(104, 255, 205);
$color-secondary: rgb(158, 251, 220);
$color-menu: rgb(195, 255, 235);

$color-white: #fff;

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
