//colors - backgrounds
$bakground-color: #f1f1f1;
$product-background-color: #ffffff;
$shadow: rgba(110, 110, 110, 0.5);
$button-hover-color: rgba(119, 238, 95, 0.349);

//colors - text
$basic-text-color: #323232;
$main-head-color: black;
$second-head-color: #eb4b88;

//colors - buttons
$orange-button: #F4D9B5;
$blue-button:#89D2F8;
$red-button:#FF3131;

//screen sizes
$desktop-size: 1000px;
$tablet-size: 800px;
$iphonePlus-size: 500px;

//fonts
$main-font: poppins;
$main-font-size: 30px;
$second-font-size: 20px;
$text-font-size: 15px;

$color-white: #fff;
$bakground-color: #f1f1f1;



body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background: $bakground-color;
}