button, .cat-form-btn {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 128px;
  height: 38px;
  border-radius: 10px;
  border: solid 1px rgba(148, 148, 148, 0.5);
  background: none;
  font-family: $main-font;
  font-size: 11px;
  font-weight: 500;
  color: black;
  letter-spacing: 0.52px;
  box-shadow: 0 1px 2px 0 rgba(148, 148, 148, 0.5);
  transition: all 500ms ease;
}

button:hover, .cat-form-btn:hover {
  background-color: $button-hover-color;
  cursor: pointer;
}

.numberInput {
  width: 50px;
}

.btn__delete, .btn__edit {
  background-color: $second-head-color;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.btn__edit {
  background: $orange-button;
}

.cat-form-btn {
  background: $orange-button;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 600;
  color: $color-white;
  width: auto;
}