.footer {
  max-height: 100vh;
  height: fit-content;
  display: grid;
  background-color: red;
}

.footer-information {
  display: grid;
  gap: 1em;
  padding: 2%;

  @media (min-width: $iphonePlus-size) {
    grid-template-columns: 1fr;
  }
  @media (min-width: $tablet-size) {
    grid-template-columns: 1fr;
  }
  @media (min-width: $desktop-size) {
    grid-template-columns: 1fr 1fr 2fr;
    max-width: 1800px;
  }
}
.footer-img {
  display: none;
  @media (min-width: $iphonePlus-size) {
    display: none;
  }
  @media (min-width: $tablet-size) {
    display: none;
  }
  @media (min-width: $desktop-size) {
    max-width: 1800px;
    display: unset;
  }
}
.footer-img-copy {
  height: 10px;
  width: 10px;
}
.footer-middle-left {
  padding-top: 20px;
}
.footer-middle-right {
  padding-top: 20px;
}
.footer-last {
  display: grid;
  justify-content: left;
}
.h3-footer {
  color: $main-head-color;
  $main-font: poppins;
}
.h4-footer {
  color: $main-head-color;
  $main-font: poppins;
}
.p-footer {
  color: black;
  $main-font: poppins;
}
.footer-bottom {
  display: flex;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  justify-self: left;
  align-self: end;
  justify-content: flex-end;

  justify-self: left;
  @media (max-width: $iphonePlus-size) {
    grid-column: 1 / span 3;
  }

  img {
    height: 100%;
    width: 100%;
    max-width: 40px;
    padding: 5px;
  }
  
  p {
    color: black;
    align-self: flex-end;
  }
}
.rocket {
  height: 100px;
  width: 100px;
  grid-column: 2;
}

.footer-bottom-container {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr;

  @media (min-width: $desktop-size) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  a {
    grid-column: 1;
    @media (max-width: $iphonePlus-size) {
      grid-column: 2;
      justify-self: center;
    }
  }
}
