.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #222;
    margin: 6px 0;
    transition: 0.07s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 9px) ;
    transform: rotate(-45deg) translate(-9px, 9px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -6px) ;
    transform: rotate(45deg) translate(-7px, -6px) ;
}





/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    }
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:unset;
}




.menu-fader {
    filter: blur(1px);
  }